---
http_interactions:
- request:
    method: post
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/regular/submit
    body:
      encoding: UTF-8
      string: '{"products":[{"name":"Framework 13 Laptop","productId":"P-1","quantity":"1","rate":1500,"discount":0,"tax":0,"amount":1500}],"orderSummary":{"subTotal":"1500.00","totalTax":"0.00","totalDiscount":"0.00","shippingCost":"0.00","grandTotal":"1500.00"},"orderDate":"02
        Aug, 2023","dueDateForPaymentLink":"1691125906","sendOrderBy":{"sms":false,"email":false,"invoice":true},"invoiceAsPaymentOption":true,"isCreditCheckAvailable":false,"customerDetails":{"type":"private","countryCode":"+47","msisdn":"46567468","email":"kari.nordmann@example.com","name":"Kari
        Nordmann","preferredLanguage":"en","personalNumber":"12345678901","organizationId":null,"address":{"street":"Luramyrveien
        65","zip":"4313","city":"Sandnes","country":"NO"}},"invoiceReferences":null,"internalReferences":null,"invoiceInterval":0,"separateInvoices":true,"submitPayment":{"via":"invoice","currency":"NOK"},"callback":{"callbackUrl":"https://www.frontpayment.no/callback","success":"https://www.frontpayment.no/success","failure":"https://www.frontpayment.no/failure"}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '238'
    body:
      encoding: UTF-8
      string: '{"status_code":201,"status_message":"OK","message":"Order Submitted
        Successfully","is_data":true,"data":{"orderUuid":"ODR1649249709","customerUuid":"CSRT3774619516","paymentUrl":"https:\/\/auth.current.bankid.no\/auth\/realms\/current\/precheck\/auth?client_id=front_payment-bankid-current&redirect_uri=https%3A%2F%2Fdemo.frontpayment.no%2Forder%2Fhandle-bankid-verification&response_type=code&scope=openid+profile+nnin&state=eyJvcmRlclV1aWQiOiJPRFIxNjQ5MjQ5NzA5IiwiY29ubmVjdCI6InllcyJ9&code_verifier=G2stUpTWHiWMJEeFaH1IJkiCD23BOqCi8tF6cPSE1d8"}}'
  recorded_at: Mon, 28 Jul 2025 21:42:11 GMT
recorded_with: VCR 6.3.1
