---
http_interactions:
- request:
    method: post
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/regular/submit
    body:
      encoding: UTF-8
      string: '{"products":[{"name":"Router","productId":"P-1","quantity":"1","discount":0,"tax":0,"amount":1500}],"orderSummary":{"subTotal":"1500.00","totalTax":"1500.00","totalDiscount":"0.00","grandTotal":"1500.00"},"orderDate":"2
        Aug, 2023","dueDateForPaymentLink":"1691125906","sendOrderBy":{"sms":false,"email":false,"invoice":true},"invoiceAsPaymentOption":true,"isCreditCheckAvailable":false,"customerDetails":{"type":"private","countryCode":"+47","msisdn":"46567468","email":"[email
        protected]","name":"Kari Nordmann","preferredLanguage":"en","personalNumber":null,"organizationId":null,"address":{"street":"Luramyrveien
        65","zip":"4313","city":"Sandnes","country":"NO"}},"invoiceReferences":null,"internalReferences":null,"invoiceInterval":0,"separateInvoices":true,"submitPayment":{"via":"invoice","currency":"NOK"},"callback":{"callbackUrl":"https://www.frontpayment.no/callback","success":"https://www.frontpayment.no/success","failure":"https://www.frontpayment.no/failure"}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 417
      message: Expectation Failed
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '239'
    body:
      encoding: UTF-8
      string: '{"status_code":417,"status_message":"Client Error","message":"payloadValidationErrors","is_error":true,"errors":["The
        order summary.shipping cost field is required.","The order date does not match
        the format d M, Y.","The customer details.email must be a valid email address.","The
        customer details.personal number field is required when submit payment.via
        is invoice.","The products.0.rate field is required."]}'
  recorded_at: Tue, 22 Jul 2025 22:01:11 GMT
recorded_with: VCR 6.3.1
