---
http_interactions:
- request:
    method: get
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/status/ODR1649249709
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '238'
    body:
      encoding: UTF-8
      string: '{"status_code":200,"status_message":"OK","message":"Order Status Retrieved
        Successfully","is_data":true,"data":{"uuid":"ODR1649249709","status":"SENT"}}'
  recorded_at: Mon, 28 Jul 2025 22:19:09 GMT
recorded_with: VCR 6.3.1
