---
http_interactions:
- request:
    method: get
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/status?type=paid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '238'
    body:
      encoding: UTF-8
      string: '{"status_code":404,"status_message":"Not Found","message":"Order Not
        Found","is_data":false,"data":null}'
  recorded_at: Tue, 15 Jul 2025 19:42:26 GMT
recorded_with: VCR 6.3.1
