---
http_interactions:
- request:
    method: post
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/invoice/create/ehf
    body:
      encoding: UTF-8
      string: '{"products":{"0":{"name":"Hair Wash","productId":"VFDDF","quantity":"1","rate":51,"discount":0,"tax":"0","amount":51}},"orderSummary":{"subTotal":"51.00","totalTax":"0.00","totalDiscount":"0.00","grandTotal":"51.00"},"orderDate":"5
        Dec, 2023","customerDetails":{"type":"corporate","countryCode":"+47","msisdn":"46567468","email":"kari_nordman@yopmail.com","name":"Kari
        Nordmann","organizationId":"123456789","address":{"street":"Luramyrveien 65","zip":"4313","city":"Sandnes","country":"NO"}},"invoiceReferences":{"referenceNo":"66346334","customerReference":"350530","receiptNo":"3535353345","invoiceInterval":0,"separateInvoices":true,"invoiceMaturity":10}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 417
      message: Expectation Failed
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '236'
    body:
      encoding: UTF-8
      string: '{"status_code":417,"status_message":"Client Error","message":"payloadValidationErrors","is_error":true,"errors":["The
        order date does not match the format d M, Y.","The send order by.sms field
        is required.","The send order by.email field is required.","The send order
        by.invoice field is required.","The is credit check available field is required.","The
        invoice as payment option field is required.","The customer details.preferred
        language field is required."]}'
  recorded_at: Tue, 15 Jul 2025 19:42:27 GMT
recorded_with: VCR 6.3.1
