---
http_interactions:
- request:
    method: post
    uri: https://demo-api.frontpayment.no/api/v1/connect/orders/invoice/create/faktura
    body:
      encoding: UTF-8
      string: '{"products":{"0":{"name":"Hair Wash","productId":"VFDDF","quantity":"1","rate":51,"discount":0,"tax":"0","amount":51}},"orderSummary":{"subTotal":"51.00","totalTax":"0.00","totalDiscount":"0.00","grandTotal":"51.00"},"orderDate":"5
        Dec, 2023","dueDateForPaymentLink":"1703040812","sendOrderBy":{"sms":false,"email":false,"invoice":true},"invoiceAsPaymentOption":false,"isCreditCheckAvailable":false,"customerDetails":{"type":"private","countryCode":"+47","msisdn":"46567468","email":"test@yopmail.com","customerUuid":"CSRT3672053467","name":"Kari
        Nordmann","preferredLanguage":"en","personalNumber":"12345678901","address":{"street":"Luramyrveien
        65","zip":"4313","city":"Sandnes","country":"NO"}},"invoiceReferences":{"referenceNo":"Dhaka","customerReference":"3500","receiptNo":"Cumilla","customerNotes":"NO","tnc":"adfsl"},"internalReferences":{"referenceNo":"Dhaka","notes":"3500"}}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 417
      message: Expectation Failed
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '240'
      x-ratelimit-remaining:
      - '232'
    body:
      encoding: UTF-8
      string: '{"status_code":417,"status_message":"Client Error","message":"payloadValidationErrors","is_error":true,"errors":["The
        order date does not match the format d M, Y."]}'
  recorded_at: Tue, 15 Jul 2025 19:42:29 GMT
recorded_with: VCR 6.3.1
